[user]
	name = matsuby
	email = matsubygh@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	commentChar = ";"
	autocrlf = false
	safecrlf = true
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
[color]
	ui = auto
[fetch]
	prune = true
[include]
	path = gitalias/gitalias.txt
[alias]
  ca = commit --amend --date=now

